body {
  background-color: #78b3a5;
  font-family: 'Cabin Sketch', cursive;
}

header {
  padding-bottom: 20px;
}

header img {
  display: block;
  margin: 0 auto;
}

header h1 {
  font-size: 100px;
  color: rgba(154, 0, 8, 0.60);
  text-align: center;
}

nav ul {
  width: 500px;
  margin: 0 auto;
}

section {
  width: 60%;
  float: left;
}

aside {
  width: 30%;
  float: right;
}

footer {
  width: 100%;
  float: right;
  clear: right;
}

nav a {
  color: rgba(154, 0, 8, 0.60);
  text-decoration: none;
}

aside h3 {
  width: 250px;
  margin: 0 auto;
}

ul {
  width: 200px;
  margin: 0 auto;
  padding-left: 0px;
}

ul li {
  list-style-type: none;
}

.navList {
  display: inline;
  padding: 0 15px;
}

.mainArticle {
  width: 75%;
  padding: 5px;
  background-color: #e3cda9;
  margin: 0 auto;
}


.footerInfo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#wrapper {
  overflow: auto;
  width: 100%;
}

#familyPhoto {
  display: block;
  margin: 0 auto;
}

#contact {
  overflow: auto;
  width: 50%;
  margin: 0 auto;
}

#email {
  width: 100px;
  float: left;
}

#phone {
  width: 100px;
  float: right;
}

#cell {
  width: 100px;
  float: left;
  margin-left: 100px;
}
